// css navigator (Menu)

.nav {
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    position: fixed;
    top: var(--heightheader);
    z-index: 20;
    background: black;
    color: white;
    height: calc(100vh - var(--heightheader));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    a {
        margin: 10px 0;
        text-decoration: none;
        color: $yellow-cl;
        font-size: 16px;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
    &.active {
        pointer-events: auto;
        transition: 0.5s;
        opacity: 1;
    }
}
